{% load static %}
<style>
.dropbtn {
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 15px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background-color: rgb(128,0,128,0.4);
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {}
</style>
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
    <div class="container-fluid">
<!--      <div class="navbar-wrapper">-->
<!--        <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>-->
<!--      </div>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>

      {% if user.is_authenticated %}
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="nav nav-tabs" style=" margin-left: auto; margin-right: auto;">
          <li class="nav-item {% if request.resolver_match.url_name == 'projectpages-wbs_list' %}active{% endif %}">
                <a class="nav-link" href="{% url 'project' project_id %}">
                  <p>Project</p>
                </a>
              </li>
          <div class="dropdown">
            <button class="dropbtn">List</button>
            <div class="dropdown-content">
              <li class="nav-item {% if request.resolver_match.url_name == 'projectpages-list' %}active{% endif %}">
                <a class="nav-link" href="{% url 'projectpages-list' project_id %}">
                  <p>State List</p>
                </a>
              </li>
              <li class="nav-item {% if request.resolver_match.url_name == 'projectpages-wbs_list' %}active{% endif %}">
                <a class="nav-link" href="{% url 'projectpages-wbs_list' project_id %}">
                  <p>Wbs List</p>
                </a>
              </li>
            </div>
          </div>
          <li class="nav-item {% if request.resolver_match.url_name == 'projectpages-gantchart' %}active{% endif %}">
            <a id="gantt" class="nav-link" href="{% url 'projectpages-gantchart' project_id%}">
              <p>GanttChart</p>
            </a>
          </li>
          <li class="nav-item {% if request.resolver_match.url_name == 'projectpages-wbs' %}active{% endif %}">
            <a id="wbs" class="nav-link" href="{% url 'projectpages-wbs' project_id%}">
              <p>WBS</p>
            </a>
          </li>
          <li class="nav-item {% if request.resolver_match.url_name == 'projectpages-dashboard' %}active{% endif %}">
            <a id="dashboard" class="nav-link" href="{% url 'projectpages-dashboard' project_id %}">
              <p>Dashboard</p>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          {% if user.Profile.Subscription.subscription_type != "Premium" %}  <!-- HOW ?? -->
            <li class="nav-item">
              <a class="btn btn-block btn-primary" href="{% url 'accounts-upgrade' %}">Go Premium</a>
            </li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
    </div>
</nav>