{% extends "base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">
              Password reset
            </h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <p>Forgotten your password? Enter your email address below, and we'll
                      email instructions for setting a new one.</p>
                  <form method="POST">
                    {% csrf_token %}
                    {{form}}
                    <input type="Submit" name="Send email">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
