{% extends "base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">
              Password reset complete
            </h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <br>
                <p>Your password has been set. You may go ahead and log in now.</p>
                <br>
              </div>
            </div>
            <a class="btn btn-block btn-primary" href="{% url 'accounts-login' %}">Log In</a>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
