{% extends "base.html" %}
{% include 'partials/_scripts.html' %}
{% block content %}
<style>
  .avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

</style>
  <h1>User Account</h1>
  <div class="row">
    <div class="col-xl-6 col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-info">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title">Tasks:</span>
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#completed" data-toggle="tab">
                    <i class="material-icons">done</i> Completed
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#todo" data-toggle="tab">
                    <i class="material-icons">av_timer</i> To Do
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#upcoming" data-toggle="tab">
                    <i class="material-icons">update</i> Upcoming
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive-sm">
          <div class="tab-content">
            <div class="tab-pane active" id="completed">
              <table class="table table-hover">
                <thead class="text-warning">
                  <th style="width:25%">Project</th>
                  <th style="width:65%">Task</th>
<!--                  <th style="width:10%">Edit/Remove</th>-->
                </thead>
                <tbody>
                  {% for task in tasks %}
                    {% if task.state == "completed" %}
                      <tr>
                        <td>
                          {{ task.wbs.project.name }}
                        </td>
                        <td>{{ task.name }}</td>
<!--                        <td class="td-actions text-right">-->
<!--                          <button type="button" rel="tooltip" title="Edit Task" class="btn btn-white btn-link btn-sm">-->
<!--                            <i class="material-icons">edit</i>-->
<!--                          </button>-->
<!--                          <button type="button" rel="tooltip" title="Remove" class="btn btn-white btn-link btn-sm">-->
<!--                            <i class="material-icons">close</i>-->
<!--                          </button>-->
<!--                        </td>-->
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane" id="todo">
              <table class="table table-hover">
                <thead class="text-warning">
                  <th style="width:25%">Project</th>
                  <th style="width:65%">Task</th>
<!--                  <th style="width:10%">Edit/Remove</th>-->
                </thead>
                <tbody>
                  {% for task in tasks %}
                    {% if task.state == "todo" %}
                      <tr>
                        <td>
                          {{ task.wbs.project.name }}
                        </td>
                        <td>{{ task.name }}</td>
<!--                        <td class="td-actions text-right">-->
<!--                          <button type="button" rel="tooltip" title="Edit Task" class="btn btn-white btn-link btn-sm">-->
<!--                            <i class="material-icons">edit</i>-->
<!--                          </button>-->
<!--                          <button type="button" rel="tooltip" title="Remove" class="btn btn-white btn-link btn-sm">-->
<!--                            <i class="material-icons">close</i>-->
<!--                          </button>-->
<!--                        </td>-->
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="tab-pane" id="upcoming">
              <table class="table table-hover">
                 <thead class="text-warning">
                  <th style="width:25%">Project</th>
                  <th style="width:65%">Task</th>
<!--                  <th style="width:10%">Edit/Remove</th>-->
                </thead>
                <tbody>
                  {% for task in tasks %}
                    {% if task.state == "upcoming" %}
                      <tr>
                        <td>
                          {{ task.wbs.project.name }}
                        </td>
                        <td>{{ task.name }}</td>
<!--                        <td class="td-actions text-right">-->
<!--                          <button type="button" rel="tooltip" title="Edit Task" class="btn btn-white btn-link btn-sm">-->
<!--                            <i class="material-icons">edit</i>-->
<!--                          </button>-->
<!--                          <button type="button" rel="tooltip" title="Remove" class="btn btn-white btn-link btn-sm">-->
<!--                            <i class="material-icons">close</i>-->
<!--                          </button>-->
<!--                        </td>-->
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Edit Profile</h4>
          <p class="card-category">Complete your profile</p>
        </div>
        <div class="card-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            {{form2.as_p}}
            <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-profile">
        <div class="card-avatar  avatar">
          <img class="img" src="{{ request.user.profile.image.url }}" />
        </div>
        <div class="card-body">
          <h6 class="card-category text-gray">
            {{ request.user.username }}
          </h6>
          <h4 class="card-title">
            {{ request.user.email }}
          </h4>

          <br>
        </div>
      </div>
    </div>
<!--    </form>-->
  </div>
{% endblock content %}
