{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
.collap {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.activated, .collap:hover {
  background-color: #ccc;
}

.collap_content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collap:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.activated:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
</style>
{% include 'partials/_topbar.html' %}
<h1>List</h1>
{% for wbs in wbs_list %}
<button type="button" class="collap">{{wbs}}</button>
<div class="collap_content">
	{% for task in task_list %}
	{% if wbs == task.wbs %}
	<form action="updateTask" method = "POST">
		{% csrf_token %}
		<label for="task_name">Task Name:</label>
		<input type="text" name="task_name" style="color:black" value="{{task.name}}">
		<label for="start_date">Start Date:</label>
		<input type="date" name="start_date" style="color:black" value="{{task.start}}">
		<label for="end_date">End Date:</label>
		<input type="date" name="end_date" style="color:black" value="{{task.end}}">
		<label for="wbs">Wbs:</label>
		<select name="wbs_id" style="color:black" required>
			{%  for wbs in wbs_list %}
				{% if wbs == task.wbs %}
					<option value="{{wbs.id}}" style="color:black" selected>{{wbs}}</option>
				{% else %}
					<option value="{{wbs.id}}" style="color:black">{{wbs}}</option>
				{% endif %}
			{% endfor %}
		</select>
		<label for="state">State</label>
		<select name="state" style="color:black">
			<option selected="false" value="Null" style="color:black" >No State</option>
			{% for state in states %}
				{% if state == task.state %}
					<option value="{{state}}" style="colour:black" selected>{{state}}</option>
				{% else %}
					<option value="{{state}}" style="colour:black">{{state}}</option>
				{% endif %}
			{% endfor %}
		</select>
		<input type="hidden" name="task_id" id="task_id" value="{{task.id}}">
		<input type="hidden" name="project" id="project" value="{{project_id}}">
		<input type="submit" value="update">
	</form>
	{% endif %}
	{% endfor %}
</div>
{% endfor %}
<script>
var coll = document.getElementsByClassName("collap");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("activated");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
{% endblock content %}
