{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
.collap {
  background-color: #913f9e;
  border-radius: 4px;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 4px 5px
}

.activated, .collap:hover {
  background-color: #ccc;
}

.collap_content {
  padding: 0 18px;
  display: none;
  overflow: auto;
  background-color: #f1f1f1;
}

.collap:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.activated:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
</style>
{% include 'partials/_topbar.html' %}
<h1>List</h1>
{% if messages %}
		{% for message in messages %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
		  <strong>{{message}}</strong>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		{% endfor %}
	{% endif %}
{% for wbs in wbs_list %}
<button type="button" class="collap">{{wbs}}</button>
<div class="collap_content">
	{% for task in task_list %}
	{% if wbs == task.wbs %}
	<form action="updateTask" method = "POST">
		{% csrf_token %}
		<label for="task_name">Task Name:</label>
		<input type="text"  name="task_name" style="color:black" value="{{task.name}}">
		<label for="start_date">Start Date:</label>
		<input type="date" name="start_date" style="color:black" value="{{task.start}}">
		<label for="end_date">End Date:</label>
		<input type="date" name="end_date" style="color:black" value="{{task.end}}">
		<label for="wbs">Wbs:</label>
		<select name="wbs_id" style="color:black" required>
			{%  for wbs in wbs_list %}
				{% if wbs == task.wbs %}
					<option value="{{wbs.id}}" style="color:black" selected>{{wbs}}</option>
				{% else %}
					<option value="{{wbs.id}}" style="color:black">{{wbs}}</option>
				{% endif %}
			{% endfor %}
		</select>
		<label for="state">State</label>
		<select name="state" style="color:black">
			{% for state in states %}
				{% if state == task.state %}
					<option value="{{state}}" style="colour:black" selected>{{state}}</option>
				{% else %}
					<option value="{{state}}" style="colour:black">{{state}}</option>
				{% endif %}
			{% endfor %}
		</select>
		<label for="Dependent on">Dependent On</label>
		<select id="{{task.id}}" name="dependency" style="color:black; height: 100%;" size="2" multiple>
			<option value="Null" style="color:black">No Dependency</option>
			{% for taskin in task_list %}
				{% if task.id != taskin.id %}
				<option id = "{{task.id}}{{taskin.id}}" value="{{taskin.id}}" style="color:black">{{taskin}}</option>
			{% endif %}
			{% endfor %}</select>
		<label for="Assignee">Assignee</label>
		<select name="assignee" style="color:black;">
			<option selected="false" value="Null" style="color:black" >No Assignee</option>
			{%  for user in users %}
				{% if user.user == task.user %}
					<option value="{{user.user.id}}" style="color:black" selected>{{user.user}}</option>
				{% else %}
					<option value="{{user.user.id}}" style="color:black">{{user.user}}</option>
				{% endif %}
			{% endfor %}</select>

		<input type="hidden" name="task_id" id="task_id" value="{{task.id}}">
		<input type="hidden" name="project" id="project" value="{{project_id}}">
		<input type="submit" value="update">
	</form>
	<form action="deleteTask" method="POST" style="border-bottom: 2px solid #913f9e;">
		{% csrf_token %}
		 <button type="submit" name='delete' value={{task.id}}>Delete</button>
	 </form>
	{% endif %}
	{% endfor %}
</div>
{% endfor %}
<script>
var dep = {{dep_json|safe}}
var coll = document.getElementsByClassName("collap");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("activated");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
for (var target in dep){
	dep[target].forEach(function(source){
	var option = document.getElementById(target+source);
	option.selected= true;
	})
}


</script>
{% endblock content %}
