<!--
=========================================================
* Material Dashboard Dark Edition - v2.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-dark
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>ManageIT</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static 'css/material-dashboard.css' %}" rel="stylesheet" />
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

<!--  &lt;!&ndash; Specific Page CSS goes HERE  &ndash;&gt;
 {% block stylesheets %}{% endblock stylesheets %}-->
</head>

<body class="dark-edition">
  <div class="wrapper ">
    <!-- Side bar -->
    {% include 'partials/_sidebar.html' %}

    <div class="main-panel">
      <!-- Top bar -->
      {% include 'partials/_topbar.html' %}
      <!--  Main Content  -->
      <div class="content">
        <div class="container-fluid">

          {% block content %}{% endblock content %}

        </div>
      </div>
      <!-- Footer -->
      {% include 'partials/_footer.html' %}

    </div>
  </div>

  <!-- Fixed-Plugin -->
  {% include 'partials/_fixed-plugin.html' %}

  <!-- Scripts -->
  {% include 'partials/_scripts.html' %}

  <!-- Scripts-Sidebar -->
  {% include 'partials/_scripts-sidebar.html' %}

</body>
</html>
