{% load static %}
<div class="sidebar" data-color="purple" data-background-color="black" data-image="{% static 'img/sidebar-2.jpg' %}">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo"><a href="" class="simple-text logo-normal">
    <img src="{% static 'img/logo.png' %}" ></a></div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item {% if request.resolver_match.url_name == 'pages-projects' %}active{% endif %}">
        <a class="nav-link" href="{% url 'projects' %}">
          <i class="material-icons">apps</i>
          <p>Projects</p>
        </a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'pages-dashboard' %}active{% endif %}">
          <a class="nav-link" href="{% url 'pages-dashboard' %}">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'pages-account' %}active{% endif %}">
        <a class="nav-link" href="{% url 'pages-account' %}">
          <i class="material-icons">person</i>
          <p>User Profile</p>
        </a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'pages-list' %}active{% endif %}">
        <a class="nav-link" href="{% url 'pages-list' %}">
          <i class="material-icons">content_paste</i>
          <p>Table List</p>
        </a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'pages-notifications' %}active{% endif %}">
        <a class="nav-link" href="{% url 'pages-notifications' %}">
          <i class="material-icons">notifications</i>
          <p>Notifications</p>
        </a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'pages-gantchart' %}active{% endif %}">
          <a class="nav-link" href="{% url 'pages-gantchart' %}">
            <i class="material-icons">wysiwyg</i>
            <p>GantChart</p>
          </a>
      </li>
      <li class="nav-item {% if request.resolver_match.url_name == 'pages-kanban' %}active{% endif %}">
          <a class="nav-link" href="{% url 'pages-kanban' %}">
            <i class="material-icons">event</i>
            <p>Kanban</p>
          </a>
      </li>
    </ul>
  </div>
</div>